<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Modifier Produit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{css/new.css}" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{css/navbar.css}" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a th:href="@{/home}"><img src="./assets/logo.svg" alt="logo" /></a>
      </div>
      <ul class="nav-links">
        <li class="nav-link"><a th:href="@{/produits}">Produits<a/></li>
        <li class="nav-link"><a th:href="@{/clients}">Clients</a></li>
        <li class="nav-link"><a th:href="@{/factures}">Factures</a></li>
      </ul>
      <ul class="logout">
        <li class="nav-link" th:inline="text">Utilisateur : [[${#httpServletRequest.remoteUser}]]</li>
        <li class="nav-link"><a th:href="@{/login?logout}">Se déconnecter</a></li>
      </ul>
    </nav>
    <div class="form-container">
      <form th:action="@{modifier_produit/{id}(id= ${produit.id})}" method="post" modelAttribute="produit">
        <h3>Nouveau Produit</h3>
        <div class="form-item">
          <label>Désignation</label>
          <input type="text" placeholder="Désignation"  name="designation" th:value="${produit.designation}"/>
          <span th:errors="${produit.designation}"></span>
        </div>
        <div class="form-item">
          <label>Prix</label>
          <input type="text" placeholder="Prix" name="prix" th:value="${produit.prix}"/>
          <span th:errors="${produit.prix}"></span>
        </div>
        <div class="form-item">
          <label>Quantité</label>
          <input type="text" placeholder="Quantité" name="quantite" th:value="${produit.quantite}"/>
          <span th:errors="${produit.quantite}"></span>
        </div>
        <div class="btn-container">
          <button type="submit">Enregistrer</button>
        </div>
      </form>
    </div>
    <footer>
      <p>Made by Ghaith Mlika</p>
    </footer>
  </body>
</html>