<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{css/new.css}" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{css/navbar.css}" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a th:href="@{/home}"><img src="./assets/logo.svg" alt="logo" /></a>
      </div>
      <ul class="nav-links">
        <li class="nav-link"><a th:href="@{/produits}">Produits<a/></li>
        <li class="nav-link"><a th:href="@{/clients}">Clients</a></li>
        <li class="nav-link"><a th:href="@{/factures}">Factures</a></li>
      </ul>
      <ul class="logout">
        <li class="nav-link" th:inline="text">[[${#httpServletRequest.remoteUser}]]</li>
        <li class="nav-link"><a th:href="@{/login?logout}">Se déconnecter</a></li>
      </ul>
    </nav>
    <div class="form-container">
      <form  th:action="@{save_client}" method="post" modelAttribute="client">
        <h3  th:utext="${titre}"></h3>
        <div class="form-item">
          <label>Prénom</label>
          <input type="text" placeholder="Prénom"  name="prenom" th:value="${client.prenom}"/>
          <span th:errors="${client.prenom}"></span>
        </div>
        <div class="form-item">
          <label>Nom</label>
          <input type="text" placeholder="Nom" name="nom" th:value="${client.nom}"/>
          <span th:errors="${client.nom}"></span>
        </div>
        <div class="form-item">
          <label>Age</label>
          <input type="text" placeholder="Age" name="age" th:value="${client.age}"/>
          <span th:errors="${client.age}"></span>
        </div>
        <div class="form-item">
          <label>Email</label>
          <input type="email" placeholder="@Email" name="email" th:value="${client.email}"/>
          <span th:errors="${client.email}"></span>
        </div>
        <div class="btn-container">
          <button type="submit">Enregistrer</button>
        </div>
      </form>
    </div>
    <footer>
      <p>Made by Ghaith Mlika</p>
    </footer>
  </body>
</html>